@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  /* finish */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* 60% {
    transform: rotate(180deg);
  } */
  80% {
    transform: translateX(-1rem); }
  /* finish */
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* animation can be used in multiple places
.logo:hover {
  animation: moveInRight 1s ease-out;
} */
/* in order to do each browser look the same way (basic RESET) */
*,
*::after,
*::before {
  /* in defauld box-sizing does not get inherited */
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  /* defines what 1rem is. now 1 REM = 10px (FONT RESET). % from the default. Browser's default of user's setting   */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  color: #777;
  font-family: "Lato", sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  margin-bottom: 6rem;
  color: #fff;
  text-transform: uppercase;
  /* part behind the element  */
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* another properties
    when it will start play
    animation-delay: 3s;
    how many times
    animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: .15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  /* inline blick is treated as text */
  display: inline-block;
  position: relative;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  /* change initial state more smoothly */
  transition: all .2s; }

.btn:hover {
  /* in relation to the initial state */
  transform: translateY(-0.3rem);
  /* X direction, Y direction, blur, color*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* after pseudo element only when we have btn on the hover state */ }
  .btn:hover::after {
    opacity: 0;
    /* increase the element */
    transform: scaleX(1.4) scaleY(1.6); }

.btn:active {
  /* in relation to the initial state */
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    /* in order for pseudo element also to be white */
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  /* pseudo element which goes behind the button/ this element is treated as a child element (of the button) */
  display: inline-block;
  /* in relation to closer "relative" positioning it can find - and now it should be hidden behind the button */
  position: absolute;
  top: 0;
  left: 0;
  /* defines the position of element if it's one on top of the other - make it definitely behind*/
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  content: "";
  transition: all .4s; }

.btn--animated {
  /* name, duration, timing-function, delay */
  animation: moveInBottom .5s ease-out .75s;
  /* automatically applies 0% animation before the animation starts - so the btn will appear on the bottom where animation starts*/
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    overflow: hidden;
    transition: all .8s ease;
    backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      width: 80%;
      margin: 0 auto;
      list-style: none; }
      .card__details ul li {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.4rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    z-index: 10;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      transform: translateY(-0.5rem) scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #55c57a;
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  text-align: center;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 1.5rem;
  transition: transform .3s; }
  .feature-box__icon {
    display: inline-block;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 1.6rem; }
  .story__shape {
    position: relative;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .story__text {
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg); }
  .story:hover .story__caption {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    -webkit-transform: translateX(-4rem) scale(1);
    transform: translateX(-4rem) scale(1);
    -webkit-filter: blur(3px) brightness(80%);
    filter: blur(3px) brightness(80%); }

.header {
  position: relative;
  height: 95vh;
  background-position: top;
  /* first one goes on top */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /* whatever the width or the element it will always try to fit to it */
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* specify 4 corners - start from top left moving clockwise */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* in relation to the parent element */
    top: 40%;
    left: 50%;
    /* in relation to the element itself */
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    display: table;
    content: "";
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }

.section-features {
  padding: 20rem 0;
  margin-top: -13rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -13rem;
  background-color: #f7f7f7; }

.section-stories {
  position: relative;
  padding: 15rem 0; }
